<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>dengbao</display-name> 
  <context-param>
  <param-name>webAppRootKey</param-name>
  <param-value>dengbao</param-value>
  </context-param>
  
  <filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>com.servlet.ProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/servlet/ProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonServlet</servlet-name>
        <servlet-class>com.servlet.PersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonServlet</servlet-name>
        <url-pattern>/servlet/PersonServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaybackServlet</servlet-name>
        <servlet-class>com.servlet.PaybackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaybackServlet</servlet-name>
        <url-pattern>/servlet/PaybackServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/servlet/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>com.servlet.TaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/servlet/TaskServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProgressServlet</servlet-name>
        <servlet-class>com.servlet.ProgressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgressServlet</servlet-name>
        <url-pattern>/servlet/ProgressServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProChartServlet</servlet-name>
        <servlet-class>com.servlet.ProChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProChartServlet</servlet-name>
        <url-pattern>/bar.do</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>com.servlet.ChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/servlet/ChartServlet</url-pattern>
    </servlet-mapping>

</web-app>